body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 10;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #000000;
    background-color: #fff;
    padding: 20px;
}

.calculator-screen {
    width: 95%;
    height: 80px;
    background-color: #252525;
    color: #fff;
    border: none;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

#expression-screen {
    font-size: 1.2rem;
}

button {
    height: 70%;
    font-size: 1.5rem;
    margin: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

button:hover {
    background-color: #b3b3cc;
}

.operator {
    background-color: #f29f05;
    color: #fff;
}

.equal-sign {
    background-color: #09a129;
    color: #fff;
    grid-column: span 2;
}

.all-clear {
    background-color: #d9534f;
    color: #fff;
}
.decimal{
    background-color: #007bff;
    color: #fff;
}
table{
    width: 100%;
    height: 100%;
}
